body{
    font-family: 'kanit'; 
}

.head-content {
    font-size: 36px;    
    color: white;
    align-items: center;
     height: 66px; 
    line-height: 66px;
    text-align: center;    
    margin-bottom: 20px; 
}
.gold{
    background-color: rgba(255, 215, 0, 0.9);  
}
.pink{
    background: rgba(255,124,216,0.9);
}
.icon{
    position: relative;
    top: -4px;
    width: 60px;
}


/* Overide boostrap */
@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 95%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 95% !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    } 
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.container {     
    width: 95% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.bg-light {
    background-color: #ffffff !important;
}
.img-thumbnail{
    border: 0;
}
.word-over{
    position: relative;
    overflow: hidden;
    height: 120px;
    text-overflow: ellipsis; 
}
.head-content {
    font-size: 36px;
    color: white;
    align-items: center;
    height: 100px !important;
    line-height: 100px !important;
    text-align: center;
    margin-bottom: 20px;
}
